{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "jsx-a11y",
    "react-hooks",
    "jest-dom",
    "testing-library",
    "@typescript-eslint",
    "prettier",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/strict",
    "plugin:jest-dom/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }],
    "key-spacing": ["error", {"mode": "strict"}],
    "@typescript-eslint/indent": [ "error", 2 ],
    "no-console": 1,
    "prettier/prettier": 2,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "jsx-a11y/anchor-is-valid": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "react/react-in-jsx-scope": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "no-undef": 0,
    "no-unused-vars": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "react/no-unescaped-entities": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}